In [1]:
import pandas as pd
import numpy as np

data = {
    'HouseID': [1, 2, 3, 4, 5, 6, 7, 8],
    'City': ['Nairobi', 'nrb ', 'Mombasa', 'kisum', 'Kisumu', None, 'Nairobi', 'Nairobi'],
    'SalePrice': [250000, 300000, None, 450000, 500000, 750000, None, 850000],
    'Bedrooms': [3, 4, None, 4, 3, 5, 4, None],
    'Condition': ['Good', 'Fair', 'Excellent', '?', 'Good', 'Fair', 'None', 'Excellent'],
    'Garage': ['Yes', 'No', 'Yes', 'No', None, 'Yes', 'Yes', 'No']
}

df = pd.DataFrame(data)
print(df)

   HouseID     City  SalePrice  Bedrooms  Condition Garage
0        1  Nairobi   250000.0       3.0       Good    Yes
1        2     nrb    300000.0       4.0       Fair     No
2        3  Mombasa        NaN       NaN  Excellent    Yes
3        4    kisum   450000.0       4.0          ?     No
4        5   Kisumu   500000.0       3.0       Good   None
5        6     None   750000.0       5.0       Fair    Yes
6        7  Nairobi        NaN       4.0       None    Yes
7        8  Nairobi   850000.0       NaN  Excellent     No

In [2]:
df.describe()

       HouseID      SalePrice  Bedrooms
count  8.00000       6.000000  6.000000
mean   4.50000  516666.666667  3.833333
std    2.44949  240138.848724  0.752773
min    1.00000  250000.000000  3.000000
25%    2.75000  337500.000000  3.250000
50%    4.50000  475000.000000  4.000000
75%    6.25000  687500.000000  4.000000
max    8.00000  850000.000000  5.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   HouseID    8 non-null      int64
 1   City       7 non-null      object
 2   SalePrice  6 non-null      float64
 3   Bedrooms   6 non-null      float64
 4   Condition  8 non-null      object
 5   Garage     7 non-null      object
dtypes: float64(2), int64(1), object(3)
memory usage: 512.0+ bytes

In [5]:
df.isnull().sum()

HouseID      0
City         1
SalePrice    2
Bedrooms     2
Condition    0
Garage       1
dtype: int64

In [8]:
df['City'].unique()
df['Condition'].unique()

array(['Good', 'Fair', 'Excellent', '?', 'None'], dtype=object)

In [14]:
df.replace(['?','None'],pd.NA, inplace = True)
print(df)

   HouseID     City  SalePrice  Bedrooms  Condition Garage
0        1  Nairobi   250000.0       3.0       Good    Yes
1        2     nrb    300000.0       4.0       Fair     No
2        3  Mombasa        NaN       NaN  Excellent    Yes
3        4    kisum   450000.0       4.0       <NA>     No
4        5   Kisumu   500000.0       3.0       Good   None
5        6     None   750000.0       5.0       Fair    Yes
6        7  Nairobi        NaN       4.0       None    Yes
7        8  Nairobi   850000.0       NaN  Excellent     No

c:\Users\USER\anaconda3\envs\learn-env\lib\site-packages\pandas\core\missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x
c:\Users\USER\anaconda3\envs\learn-env\lib\site-packages\pandas\core\missing.py:60: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [ ]:
import pandas as pd
dummy_df =pd.DataFrame({'name': ["Isaac","Catherine","Tafford","Sandra"],
                        'score':[20,34,56,98,]
                        })
dummy_df['score'] = dummy_df['score'].map(lambda x: x-5)

In [3]:
print(dummy_df)

        name  score
0      Isaac     15
1  Catherine     29
2    Tafford     51
3     Sandra     93

In [4]:
dummy_df['length'] = dummy_df['name'].apply(len)
print(dummy_df)

        name  score  length
0      Isaac     15       5
1  Catherine     29       9
2    Tafford     51       7
3     Sandra     93       6

In [ ]:
dummy_df = dummy_df.applymap(lambda x:x * 2)
print(dummy_df)

                                                name  score  length
0  IsaacIsaacIsaacIsaacIsaacIsaacIsaacIsaacIsaacI...   9600    3200
1  CatherineCatherineCatherineCatherineCatherineC...  18560    5760
2  TaffordTaffordTaffordTaffordTaffordTaffordTaff...  32640    4480
3  SandraSandraSandraSandraSandraSandraSandraSand...  59520    3840

In [22]:
dummy_df =pd.DataFrame({'name': ["Isaac Macharia","Catherine Nanjala","Tafford Pessah","Sandra Bosibori"]
                        
                        })
dummy_df['last_name'] = dummy_df['name'].apply(lambda x: x.split()[1])
print(dummy_df)

                name last_name
0     Isaac Macharia  Macharia
1  Catherine Nanjala   Nanjala
2     Tafford Pessah    Pessah
3    Sandra Bosibori  Bosibori

In [ ]:
dummy_df =pd.DataFrame({'email': ["IsaacMacharia@gmail.com","CatherineNanjala@gmail.com","TaffordPessah@gmail.com","SandraBosibori@gmail.com"]
                        
                        })
dummy_df['first_name'] = dummy_df['email'].apply(lambda x: x.split('@')[0])
print(dummy_df)

                        email        first_name
0     IsaacMacharia@gmail.com     IsaacMacharia
1  CatherineNanjala@gmail.com  CatherineNanjala
2     TaffordPessah@gmail.com     TaffordPessah
3    SandraBosibori@gmail.com    SandraBosibori

In [ ]:
dummy_df =pd.DataFrame({'email': ["Isaac.Macharia@gmail.com","Catherine.Nanjala@gmail.com","Tafford.Pessah@gmail.com","Sandra.Bosibori@gmail.com"]
                        
                        })
dummy_df['first_name'] = dummy_df['email'].apply(lambda x: x.split('@')[0])
dummy_df['last_name'] = dummy_df['email'].apply(lambda x: x.split('@')[1])

print(dummy_df)

                         email         first_name  last_name
0     Isaac.Macharia@gmail.com     Isaac.Macharia  gmail.com
1  Catherine.Nanjala@gmail.com  Catherine.Nanjala  gmail.com
2     Tafford.Pessah@gmail.com     Tafford.Pessah  gmail.com
3    Sandra.Bosibori@gmail.com    Sandra.Bosibori  gmail.com

In [36]:
dummy_df['last_name1'] = dummy_df['first_name'].apply(lambda x: x.split('.')[0])

dummy_df['last_name2'] = dummy_df['first_name'].apply(lambda x: x.split('.')[1])

print(dummy_df)

                         email         first_name  last_name last_name1  \
0     Isaac.Macharia@gmail.com     Isaac.Macharia  gmail.com      Isaac
1  Catherine.Nanjala@gmail.com  Catherine.Nanjala  gmail.com  Catherine
2     Tafford.Pessah@gmail.com     Tafford.Pessah  gmail.com    Tafford
3    Sandra.Bosibori@gmail.com    Sandra.Bosibori  gmail.com     Sandra

  last_name2
0   Macharia
1    Nanjala
2     Pessah
3   Bosibori